scoutify/.env
scoutify/media/player_videos/
scoutify2/data.csv
scoutify2/data.py
scoutify2/encrypt_decrypt_password.py
scoutify2/face_recognition.py
scoutify2/fetch_data_from_internet.py
scoutify2/read_file.py
Dockerfile
.git
.gitignore
.gitattributes
README.md
scoutifii
scoutifii.pub
db.sqlite3
geckodriver.log
ssh
ssh.pub
.kube
scoutify.code-workspace
share/
.DS_Store
.pytest_cache
migrations
__pycache__/
*.py[cod]
*$py.class

*.so
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
$dist/
var/