media/player_videos
scoutify/.env

.DS_Store

__pycache__/
*.py[cod]
*$py.class

*.so
.python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
$dist/
var/
ssh
ssh.pub
sshscout
sshscout.pub
vercel.json
/statics
/share