{% extends 'base.html' %}
{% load static %}
{% block title %}
  Notifications - {{user_profile.user}}
{% endblock %}

    {% block content %}

            <div class="notification-box notification-scroll">
             {% for notification in notifications %}   
                {% if notification.notification_type == 1 %}
                <div>
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">{{ notification.sender.first_name }} {{ notification.sender.last_name }} </a>
                        Liked your scoutifii post: <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.timeAgo}}</small>
                    </div>
                </div>
                {% elif notification.notification_type == 2 %}
                <div>
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">
                        {{ notification.sender.first_name }} {{ notification.sender.last_name }}</a>
                        Commented on your scoutifii post: <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.timeAgo}}</small>
                    </div>
                </div>
                {% elif notification.notification_type == 4 %}
                <div>
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">
                        {{ notification.sender.first_name }} {{ notification.sender.last_name }}</a> 
                        Voted your <b>{{notification.text_preview}}</b> skills on scoutifii post: <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.timeAgo}}</small>
                    </div>
                </div>
                {% endif %} 
             {% endfor %}   
            </div>
        </div>
    </main>
                
    {% endblock %}