{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="form-container">
    <div id="welcome-message">
        <h1>Live Stream</h1>
        <p>Live Stream Your Video on Scoutifii</p>
    </div>
    <form id="form">
        {% csrf_token %}
        <input type="hidden" name="profile_id" value="{{user_profile.pk}}">
        <div class="form-field">
            <input type="text" name="room" placeholder="Enter Room">
        </div>
        <div class="form-field">
            <input type="submit" value="Stream Live">
        </div>
    </form>
</section>

{% endblock %}